*.zip
*.pyc
.ipynb_checkpoints/

*.jpg
*.png
*.bmp
*.txt
*.xml
*.pdf
*.pkl
*.pickle
*.mp4

*.doc
*.docx
*.xls
*.xlsx
*.ppt
*.pptx

*.class
java/P2PFileSharing/res

*.sh
*.npz
*.zip
*.rar
*.tar
*.tar.gz

*.idea
*.lift
*.iml
*CREDITS

courses/cs229/MachineLearning
courses/cs229/slides/ProblemSets

courses/cs231n/assignment1/cs231n/datasets/cifar-10-batches-py
courses/cs231n/assignment2/cs231n/datasets/cifar-10-batches-py
courses/cs231n/assignment3/cs231n/datasets/coco_captioning
courses/cs231n/assignment3/cs231n/datasets/imagenet_val_25.npz
courses/cs231n/assignment3/cs231n/datasets/squeezenet.ckpt.data-00000-of-00001
courses/cs231n/assignment3/cs231n/datasets/squeezenet.ckpt.index
courses/cs231n/assignment3/cs231n/datasets/squeezenet.ckpt.meta
courses/cs231n/assignment3/cs231n/datasets/MNIST_data
